.conteiner {
    margin: auto;
    max-width: 1440px;
    width: 100%;
    border: 10px solid red;
}


/* header */

.main_header {

    display: flex;
    padding: 52px 98px;
    align-items: center;
    justify-content: space-between;


}

.main_header_logo {
    margin-right: 100px;
}

.main_header_ul {
    color: #758BFD;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    width: 393px;
    height: 28px;
    display: flex;
    gap: 50px;

}

.mainheaderli{
    color: #758BFD;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}



.header_icon {
    display: flex;
    width: 221px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #27187F;


}

.fa-magnifying-glass {
    font-size: 56px;
    color: #758BFD;
}


/* section */

.section_conteiner {
    padding: 115px 98px;
    background: #DDEAF8;




}

.section_h2 {
    color: #27187F;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 68px;


}

.cards {
    width: 1244px;
    height: 717px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.cards_img {
    width: 400px;
    border-radius: 10px;
    background-color: #FFF;
    padding: 33px 30px;
}

.cards_p {
    margin-top: 33px;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #133B3A;
}


/* footer */


.footerstyle {


    /* display: inline-flex; */

    padding: 75px 98px;
    justify-content: center;
    align-items: flex-start;
    gap: 663px;
    background: #758BFD;
    width: 100%x;
    height: 89px;
    display: flex;
    display: block;

}

.footer_div {
    display: inline-flex;
}

