

/* header */

.main_header {

    display: flex;
    width: 1440px;
    height: 160px;
    padding: 52px 98px;

    gap: 251px;
    flex-shrink: 0;
    align-items: center;

}

.main_header_logo {
    margin-right: 100px;
}

.main_header_ul {
    color: #758BFD;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    width: 393px;
    height: 28px;
}



.mainheaderli {

    color: #758BFD;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: space-between;
    width: 393px;
    display: inline-flex;

}

.header_icon {
    display: flex;
    width: 221px;
    height: 56px;
    padding-left: 0px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}

/* section */

.section_conteiner {
    padding: 115px 98px;
    background: #DDEAF8;
    display: inline-block;




}

.section_h2 {
    color: #27187F;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 68px;


}

.cards {
    width: 1244px;
    height: 717px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.cards_img {
    border-radius: 10px;
    background: #FFF;
    display: flex;
    width: 400px;
    padding: 33px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 33px;
}

p {
    margin-top: 33px;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #133B3A;
}


/* footer */


.footerstyle {
    /* display: inline-flex; */
    padding: 75px 98px;
    justify-content: center;
    align-items: flex-start;
    gap: 663px;
    background: #758BFD;
    width: 1440px;
    height: 89px;
    display: flex;
    display: block;

}

.footer_div{

    display: inline-flex;

}










